@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root { 
    /* Colors */
    --red-300: hsl(0, 78%, 62%);
    --cyan-300: hsl(180, 62%, 55%);
    --orange-300: hsl(34, 97%, 64%);
    --blue-300: hsl(212, 86%, 64%);

    --blue-900: hsl(234, 12%, 34%);
    --blue-700: hsl(229, 6%, 66%);
    --gray-100: hsl(0, 0%, 98%);

    /* custom */
    --white: white;
    --blue-700-shadow: hsl(226, 23%, 85%);

    /* Typography */
    --family: 'Poppins', sans-serif;
    --fs-base: 15px;
    --weight-light: 200;
    --weight-normal: 400;
    --weight-bold: 600;

    /* Borders */
    --radii: 0.75rem;
}

* {
    box-sizing: border-box;
}

body {
    padding: 2rem;
    margin:0;
    background-color: var(--gray-100);
    font-family: var(--family);
    font-size: var(--fs-base);
}

main { 
    display:flex;
    flex-direction:column;
    height: 100%;
    align-items: center;
}

.page-heading { 
    text-align: center;
    max-width: 32rem;
}

.page-heading__title {
    color: var(--blue-900);
    margin: 0;
    font-weight:var(--weight-light);
    font-size: calc(var(--fs-base) * 1.6);
}

.page-heading__title b{ 
    color: var(--blue-900);
    font-weight: var(--weight-bold);
}

.page-heading__description {
    color: var(--blue-700);
    padding-top: 1.5rem;
    font-weight: var(--weight-light);
}

.feature-card {
    display:flex;
    flex-direction: column;
    align-items: stretch;

    background-color: var(--white);
    padding: 1.5rem;
    border-radius: var(--radii);
    min-height: 250px;
    max-width: 350px;
    box-shadow: 0 1rem 1rem var(--blue-700-shadow);
    border-top: solid 4px black;
}

.feature-card--supervisor {
    border-color: var(--cyan-300);
}

.feature-card--team-builder {
    border-color: var(--red-300);
}

.feature-card--calculator {
    border-color: var(--blue-300);
}

.feature-card--karma {
    border-color: var(--orange-300);
}

.feature-card__title {
    color: var(--blue-900);
    margin: 0;
    font-weight: var(--weight-bold);
    font-size: calc(var(--fs-base)*1.4);
}

.feature-card__description {
    margin: 0;
    flex-grow:1;
    margin-top:0.75rem;
    font-weight: var(--weight-normal);
    font-size: calc(var(--fs-base)*0.9);
    color:var(--blue-700);
    line-height: 2;
}

.feature-card__icon {
    align-self: flex-end;
    width: 52px;
    height: 52px;
}

.cards-container {
    padding-top: 4rem;
    padding-bottom: 6rem;

    max-width:350px;
    display: flex;
    flex-direction: column;
    column-gap: 1.5rem;

    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1.5rem;
    grid-auto-flow: dense;
}

@media only screen and (min-width: 750px) {
    .page-heading__title {
        font-size: calc(var(--fs-base) * 2);
    }

    .cards-container {
        display:grid;
        min-width: 750px;
    }
}

@media only screen and  (min-width: 1200px) {
    .cards-container {
        display:grid;
        min-width: fit-content;
    }

    .feature-card--supervisor {
        grid-column:  1 / 2;
        grid-row: 2 / 4;
    }
    
    .feature-card--team-builder {
        grid-column: 2/3;
        grid-row: 1/3;

    }
    
    .feature-card--calculator {
        grid-column: 2/3;
        grid-row: 3/5;

    }
    
    .feature-card--karma {
        grid-column: 3 /4;
        grid-row: 2/4;

    }
}
